.nav-bar a{
  padding: .5em 1em;
  margin: 0;
  box-shadow: none;
  border-bottom: none;
  border-top: none;
}

.nav-bar a:nth-child(even){
  border-left: none;
}


.nav-bar{
  display: flex;
  align-content: flex-end;
}
